@import url("print.css");
/*
@page:first {
  counter-reset: page 4;
}
*/
body {
  counter-reset: ChapterNum 0;
/*  column-count: 2;*/
  column-gap: 0.18in;
}

@page:right{
  @top-right {
    content: "Markdownで組版"
  }
}

@page:left{
  @top-left {
    content: "Markdown組版"
  }
}
